{% assign post_ids = ''%}
{% for post in site.posts %}
<!--Pin first-->
        {% if post.pin == true %} 
        {% assign post_ids =  post_ids | append: '|' | append: post.id %}
        {% continue %}
    {% endif %}
<!--Has update date-->
    {% if post.update != null %}
         {% assign post_ids =  post_ids | append: '|' | append: post.id %}
         {% continue %}
    {% endif %}
<!--others-->
     {% assign post_ids =  post_ids | append: '|' | append: post.id %}
{% endfor %}
{% assign new_post_list = post_ids |  split: '|' | reverse%}