---
layout: compress
title: ALL POSTS
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    {% include head.html %}
</head>

<body>
    {% include preload.html %}
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper">
            <div class="content loading">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn ripple-btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                </div>
                <div class="post-list ">
                    <!--pin to top first-->
                    {% for post in site.posts %}
                        {% if post.pin == true and post.project == null %}
                            {% include post-list-item.html %}
                        {% endif %}
                    {% endfor %}
                    <!--others-->
                    {% for post in site.posts %}
                        {% if post.pin == null and post.project == null %}
                             {% include post-list-item.html %}
                        {% endif %}
                     {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <!--wow-->
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">
        new WOW().init();

    </script>
</body>

</html>
