---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    {% include head.html %}
</head>

<body>
    {% include preload.html %}
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper">
            <div class="content loading">
                <div class='post-title {% if page.feature %} feature {% endif %}'>
                    <h1>{{ page.title }}</h1>
                    <h4>{{ page.date | date: '%B %d, %Y' }}</h4>
                    {% if site.reading_time %}
                    <p class="reading-time">
                        <i class="fa fa-clock-o"></i>
                        {% include read-time.html %}
                    </p><!-- /.entry-reading-time -->
                    {% endif %}
                    {% if page.project %}
                    <a class="btn ripple-btn zoombtn" href="{{site.url}}/projects/">
                        {% else %}
                        <a class="btn ripple-btn zoombtn" href="{{site.url}}/posts/">
                            {% endif %}
                            <i class="fa fa-chevron-left"></i>
                        </a>
                </div>
                <hr>
                <div class='post-content'>
                    {{ content }}
                </div>
                <div class="entry-meta">
                    {% include meta.html %}
                </div>
                <div class="sharethis-inline-share-buttons"></div>
                <div class="PageNavigation">
                        {% if page.previous.url %}
                        <div class="next">
                            <span>NEXT: &#8811;</span>
                            <a class="drop-down-underline ripple-btn" href="{{page.previous.url}}">{{page.previous.title}}</a>
                        </div>
                        {% endif %}
                    {% if page.next.url %}
                    <div class="prev">
                        <span>&#8810; PREV:</span>
                        <a class="drop-down-underline ripple-btn" href="{{page.next.url}}">{{page.next.title}}</a>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{%
        endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
    <!--social share icons-->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c93e88014e26421"></script>
</body>

</html>
